<!-- META SECTION -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<!-- END META SECTION -->
<%#= javascript_include_tag theme_asset_path("js/main.js") %>
<%= stylesheet_link_tag theme_asset_path("css/main.css") %>
<!-- <%= stylesheet_link_tag theme_asset_path("genericons/genericons.css") %>
<%= javascript_include_tag theme_asset_path("js/main.js") %>
<%= raw the_head %> -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet">
<%= favicon_link_tag "logo_square.jpg" %>
<!-- <link rel="logo_square.jpg" href="/apps/themes/try/assets/images/logo_square.jpg"/> -->

<!-- <body>
  <div class="header">
    <div class="container">
      <%= link_to image_tag('logo_square.jpg'), '/', id: 'logo'%>
    </div>
  </div>

  <% yield %>

</body> -->